<nav>
  <div class="div1">
    <div class="div2">
      <a href="/"><h3 class="logo"><%= title %></h3></a>
      <p class="logo-s"><%= title2 %></p>
    </div>
    <ul>
      <li><a href="/learnings">my learnings</a></li>
      <li><a href="/achievements">achievements</a></li>
      <li><a href="/todo">to-do</a></li>
      <li><a href="download">codes</a></li>
    </ul>
  </div>
</nav>