<html lang="en">
 <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <main class="btn">
    <a href="https://monkeytype.com/"><button>github</button></a>
  </main>
  <footer></footer>
</body>
</html>