<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <main>
    <section>
      <div>
        <p><span>Express.js</span> is the most popular web framework for Node.js. It is designed for building 
          web applications and APIs, and has been called the "de facto" standard framework for Node.js</p>
        <p>Express.js provides features that make web application development fast and easy which otherwise takes more time using only Node.js.</p>
      </div>
      <div>
        <h4>Advantages of Express.js</h4>
        <% if (advantages.length > 0) { %>
          <ol class="list">
          <% advantages.forEach((advantage) => { %>
            <li><%= advantage %></li>
          <% }) %>
          </ol>
        <% } %>
      </div>
    </section>
  </main>
  <footer></footer>
</body>
</html>